.theme-container{
    .sidebar > .sidebar-links > li > a.sidebar-link{
        font-size: 1em;
        line-height: normal;
        font-weight: bold;
        padding: 0;
    }
    .content:not(.custom),
    .page-edit, .page-nav{
        max-width: none
    }
}
.global-ui{
     @media (max-width: 959px) {
        .go-to-top {
            display: block;
            padding: 1rem;
            right: 0;
        }
    }
}